.old
{
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.accordion {
  background-color: #3e015b;
  color: #fdf7f7;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}
.accordion2 {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 25px;
  transition: 0.4s;
}
.panel2 {
  padding: 0 0px;
  display: none;
  background-color: #ede9e9;
  overflow: hidden;
}
.active, .accordion2:hover {
  background-color: #d6d6d6; 
}

.active, .accordion:hover {
  background-color: #650094; 
}


.panel {
  padding: 0 0px;
  display: none;
  background-color: white;
  overflow: hidden;
}
.dropdown-menu li {
position: relative;
}
.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}
.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}